<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169308658238-r51mr2q8foegvuvchoam53ih8a4juq5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169308658238-r51mr2q8foegvuvchoam53ih8a4juq5g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>169308658238-6979j6kjmnqucemi5gppurvqvhhd8oe3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWyGwEtAGbyAiBfLGKUKxPhLHKlEm9POI</string>
	<key>GCM_SENDER_ID</key>
	<string>169308658238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tesis</string>
	<key>PROJECT_ID</key>
	<string>tesis-70271</string>
	<key>STORAGE_BUCKET</key>
	<string>tesis-70271.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169308658238:ios:7d03e240bceabaad438f6f</string>
</dict>
</plist>